{% extends 'author_detail.html' %}

{% block block %}
    <div class="py-4 px-4">
        <div class="d-flex align-items-center justify-content-between mb-3"></div>
        <div class="row">
            {% for image in object_list %}
                <div class="col-lg-6 mb-2 pr-lg-1">
                <a href="{% url 'image_detail' image.id %}">
                    <img src="{{ image.original.url }}" alt="" class="img-fluid rounded shadow-sm">
                </a>
                </div>
            {% endfor %}
        </div>
        <!-- pagination -->
        <div class="pagination mt-4">
            <span class="step-links mx-auto">
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="btn btn-secondary">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-secondary">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}